<!doctype html>
<html>
<head><h4> Facebook API search results</h4></head>
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.0.2/css/bootstrap.min.css">
	<link rel="stylesheet" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.min.css">

<body>
	<center>
	<div class="col-sm-6">
	<div class="well">

 <h4><bold> Your Facebook likes include </bold></h4> <% parsedData["likes"]["data"].forEach(function(likes){ %>

			<li><%= JSON.stringify(likes["name"]) %></li>

			<% }) %>

</div>
</div>
</center>

</body>
</html>
